body {
  zoom: 0.75;
  background-color: brown;
}

.header__title {
  width: fit-content;
  margin: auto;
  font-size: 80px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.header__sub-header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: white;

  background-image: url('./mole-hill.png');
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* playing field */
.pf {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 800px) {
  .pf {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

/* whac-a-mole game space */
.wgs {
  width: 320px;
  height: 241px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.wgs__mole-head {
  width: 188px;
  position: absolute;
  left: 54.5px;
  transition: margin-top 0.25s;
}

.wgs__dirt-pile {
  position: absolute;
  top: 131px;
  width: 320px;
  height: 110px;
  background: linear-gradient(transparent, transparent 50%, brown 50%);
}

.wgs__mole-head--hidden {
  margin-top: 291px;
}

.wgs__mole-head--game-won {
  margin-top: 0px;
}

/* Start Game button */

.game-control {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.game-control__button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  font-weight: 400;
  background-color: #654321;
  background: linear-gradient(to bottom, #654321 5%, #634b30 100%);
  border: 1px solid #54381e;
  border-radius: 10px;
  padding: 6px 12px;
  margin: 0px 15px;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  text-shadow: 0px 1px 0px #4d3534;
  outline: none;
}

.game-control__button:hover:enabled {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  cursor: pointer;
  background-color: #634b30;
}
.game-control__button:active:enabled {
  position: relative;
  cursor: pointer;
  top: 2px;
}

/* X's added in on easy */
.wgs__dirt-pile__x-symbol {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 50px;
  margin: 170px 0px 0px 160px;
  z-index: 1;
  position: relative;
}
