body {
  zoom: 0.75;
  background-color: brown;
}

.header {
  justify-content: center;
}

.header__title {
  width: fit-content;
  margin: auto;
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
}

@media (max-width: 800px) {
  .header__title {
    font-size: 4rem;
  }
}

.header__sub-header {
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  font-family: 'Courier New', Courier, monospace;
  color: white;

  background-image: url('./mole-hill.png');
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* playing field */
.pf {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.25rem;
  height: 75vh;
}

/* whac-a-mole game space */
.wgs {
  width: 20rem;
  /* height: 14.75rem; */
  /* width: 320px;
  height: 241px; */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* display: inline-block; */
}

@media (max-width: 1000px) {
  .pf {
    height: 56vh;
  }
  .wgs {
    width: 15rem;
  }
}

@media (max-width: 800px) {
  .pf {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 85vh;
  }
}

.wgs__mole-head {
  width: 58.75%;
  transform: translate(-6%, 37%);
  position: absolute;
  transition: margin-top 0.25s;
  /* max-width: 11.75rem; */
  /* width: 188px; */
}

.wgs__dirt-pile {
  position: absolute;
  align-self: flex-end;
  max-width: 100%;
  background: linear-gradient(transparent, transparent 50%, brown 50%);
  /* width: 320px; */
  /* height: 110px; */
}

.wgs__mole-head--hidden {
  margin-top: 100%;
}

.wgs__mole-head--game-won {
  margin-top: 0px;
}

/* Start Game button */

.game-control {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.game-control__button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  font-weight: 400;
  background-color: #654321;
  background: linear-gradient(to bottom, #654321 5%, #634b30 100%);
  border: 1px solid #54381e;
  border-radius: 10px;
  padding: 6px 12px;
  margin: 0px 15px;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  text-shadow: 0px 1px 0px #4d3534;
  outline: none;
}

.game-control__button:hover:enabled {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  cursor: pointer;
  background-color: #634b30;
}
.game-control__button:active:enabled {
  position: relative;
  cursor: pointer;
  top: 2px;
}

/* X's added in on easy */
.wgs__dirt-pile__x-symbol {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 50px;
  margin: 170px 0px 0px 160px;
  z-index: 1;
  position: relative;
}
