/* Write your CSS here. */

body {
  zoom: 0.75;
}

.pf {
  display: grid;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.wgs {
  width: 320px;
  height: 241px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.wgs__mole-head {
  width: 188px;
  left: 54.5px;
  position: absolute;
  transition: margin-top 0.25s;
}

.wgs__dirt-pile {
  position: absolute;
  top: 131px;
  width: 320px;
  height: 110px;
}

.wgs__mole-head--hidden {
  margin-top: 291px;
}

